---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

header {
  margin: 1em 0 2em;
}

body {
  max-width: 768px;
  margin: 0 auto;
  padding: 0.5em 1em;
}

ul, ol, dl {
  margin-top: 0.2em;
  padding-left: 2em;

  ul, ol, dl {
    margin-bottom: 0.2em;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl, p, blockquote, pre, figure {
  margin-bottom: 0.5em;
}

blockquote {
  margin: 2em 0;
  color: grey;
  border-left: 4px solid lightgrey;
  padding-left: 1.2em;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

@import "code-highlighting";
